
<p>
  <a href="{{site.swc_site}}">Software Carpentry</a>
  tiene como objetivo ayudar a los investigadores a realizar su trabajo 
  en menos tiempo y con menos dolor al enseñarles habilidades básicas 
  de informática de investigación. 
  
</p>
<p align="center">
  <em>
    Para más información sobre lo que enseñamos y por qué,
    por favor mira nuestra publicación
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>
