<div class="row">
  <div class="col-md-6">
    <h3>9 Septembre 2018</h3>
    <table class="table table-striped">
      <tr> <td>Bienvenida e introducciones</td> </tr>
      <tr> <td>Introducción a R y RStudio</td> </tr>
      <tr> <td>Estructuras de datos</td> </tr>
      <tr> <td>Explorando data frames</td> </tr>
      <tr> <td>Creando gráficas con calidad para publicación con ggplot2</td> </tr>
      <tr> <td>Manipulación de data frames con dplyrs</td> </tr>
      <tr> <td>Guardando datos</td> </tr>
    </table>
  </div>
</div>
