<h3>9 Septembre 2018</h3>


<table>
<colgroup>
<col width="10%" />
<col width="30%" />
</colgroup>
<thead>
<tr class="header">
<th>Hora</th>
<th>Descripción</th>
</tr>
</thead>
<tbody>
<tr>
<td markdown="span">9:00</td>
<td markdown="span">Bienvenida e introducciones</td>
</tr>
<tr>
<td markdown="span">9:30</td>
<td markdown="span">[Introducción a R y RStudio](https://swcarpentry.github.io/r-novice-gapminder-es/01-rstudio-intro/index.html)</td>
</tr>
<tr>
<td markdown="span">10:00</td>
<td markdown="span">[Estructuras de datos](https://swcarpentry.github.io/r-novice-gapminder-es/04-data-structures-part1/index.html)</td>
</tr>
<tr>
<td markdown="span">10:30</td>
<td markdown="span">[Explorando data frames](https://swcarpentry.github.io/r-novice-gapminder-es/05-data-structures-part2/index.html)</td>
</tr>
<tr>
<td markdown="span">11:00</td>
<td markdown="span">[Creando gráficas con calidad para publicación con `ggplot2`](https://swcarpentry.github.io/r-novice-gapminder-es/08-plot-ggplot2/index.html)</td>
</tr>
<tr>
<td markdown="span">11:30</td>
<td markdown="span">[Manipulación de data frames con `dplyr`](https://swcarpentry.github.io/r-novice-gapminder-es/12-plyr/index.html)</td>
</tr>
<tr>
<td markdown="span">12:00</td>
<td markdown="span">[Guardando datos](https://swcarpentry.github.io/r-novice-gapminder-es/11-writing-data/index.html)</td>
</tr>
<tr>
<td markdown="span">12:30</td>
<td markdown="span">Comó ser "una Carpintera"</td>
</tr>
<tr>
<td markdown="span">13:00</td>
<td markdown="span">Fin</td>
</tr>
</tbody>
</table>
